@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Shadows+Into+Light&display=swap');

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: "Delius Swash Caps", cursive;
    line-height: 1.6;
    /* background-color: #f9f9f9; */
    color: #333;
    padding: 20px;
}

/* Header Styling */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
}

header .img-right {
    transform: scaleX(-1);
}

/* Main Content */
main {
    margin: 20px auto;
    max-width: 800px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
}

th {
    padding: 10px;
    background-color: #eee;
}

td {
    padding: 23px;
    text-align: left;
    border: 1px solid #ddd;
}

.first-row td {
    padding: 5px;
}

.first-row-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Delius Swash Caps", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
}

.right-arrow {
    margin-top: -30px;
    margin-bottom: -30px;
}

/* Footer */
footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #666;
}
